body{
  background: url("https://1.bp.blogspot.com/-mLjswLW2ncU/X0GnmAIVGJI/AAAAAAAAHkE/uRBZ4kLlAX8czof_bBRBeJusJNlvrqADACLcBGAsYHQ/w210-h210/Tile.png");
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

#main-page-content #map-page-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

#main-page-content #map-page-container #map-container {
  width: 1100px;
  max-width: 92%;
  margin: 30px auto;
  position: relative;
}

.dropbtn {
  background-color: #000000;
  padding: 16px 26px 8px 26px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #424242}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #424242;
}

.active h5 {
  color: black;
}

a, a:hover {
  color: #ffd426;
}
